* {
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;    
    min-height: 100vh;
    padding: 1rem; 
    flex-direction: column;
    gap: clamp(8px, 1rem, 3rem);
    padding: clamp(2px, 0.5vh, 6px);
}
.top{
    display: flex;
    font-size: clamp(.5rem, 2rem, 4rem);
    width: min(90vw, min(90vh, 600px));
    justify-content: center;
    padding: clamp(2px, 0.5vh, 6px);
    flex-wrap: nowrap;
}
.bottom{
    display: flex;
    font-size: clamp(.5rem, 2rem, 4rem);
    width: min(90vw, min(90vh, 400px));
    justify-content: center;
    padding: clamp(2px, 0.5vh, 6px);
}
button{
     padding: clamp(2px, 0.5vh, 6px);
    font-size: clamp(.5rem, 3rem, 4rem);
    background-color: white;
    user-select: none;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: clamp(2px, 0.5vw, 8px);
    border-radius: (4px, 1vw, 12px);
    background-color: #333;
    padding: clamp(2px, 0.5vw, 6px);
    width: min(90vw, min(90vh, 600px));
    aspect-ratio: 1;
}

.game{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: clamp(2px, 0.5vw, 6px);
    background-color: white;
    aspect-ratio: 1;
}

.game p {
    font-size: clamp(.5rem, 2rem, 4rem);
    font-weight: bold;
    color: #333;
    user-select: none;
}

@media (max-width: 480px) {
    .container {
    width: min(95vw, 95vh);
    }
    .top{
        font-size: clamp(1vw, 1.4rem, 4rem);
    }
    button{
        font-size: clamp(1vw, 2rem, 4rem);
    }
    .game.win p{
        font-size: clamp(1vw, 1.4rem, 1.7rem);
    }
}

@media (min-width: 1200px) {
    .container {
    width: min(50vw, 700px);
    }
}

.game-disabled {
    pointer-events: none;
    opacity: 0.7;
}


.win{
    display: flex;
    background: #333;
    color: white;
    align-items: center;
    justify-content: center;
    padding: clamp(2px, 4px, 8px);
}

.win p{
    margin: 0;
    background: #333;
    color: white;
    font-size: clamp(1vw, 2rem, 3.4rem);
    text-align: center;
}